#A{
    color: brown;
}
#b{
    color: brown;
}
#c{
    color: brown;
}
#d{
    color: brown;
}
#e{
    color: brown;
}
#f{
    color: brown;
}
#g{
    color: brown;
}
#h{
    color: brown;
}
#i{
    color: brown;
}
#J{
    color: brown;
}
#k{
    color: brown;
}
#l{
    color: brown;
}